{% extends 'main/base.html' %}

{% block title %}
Анализ текста
{% endblock %}

{%block content%}
    {% if data %}
        {% for row in data %}
            <i>{{ row.message }}</i> -> <b>{{ row.sentiment }}</b>
            <hr>
        {% endfor %}
        <br>
        <a href="{% url 'file' %}">
              <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Вернуться</button>
          </a>
    {% elif error_message %}
        <b>{{ error_message }}</b>
    {% else %}
        <form action="{% url 'file' %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Обработать">
        </form>
    {% endif %}

{% endblock %}
